{% load i18n %}

{% block subject %}
  {% blocktrans %}Ole Nepal - Welcome!{% endblocktrans %}
{% endblock %}

{% block html_body %}
  <p>Dear {{ user }} </p>
  <p>Greetings From Ole  Nepal !</p>
  <br>
  <p>Huge Congratulations and a very Warm Welcome to you in this Learning and earning platform.Now You can Spend your learning Progress and earn More and more money by sharing the education and build a life you deserve.</p>
  <br>
  <p>Thank You for being the part of Learning sansar. We appreciate your interest and are very glad to have you here wish you all the best for your future Endeavor.</p>
  <p>Takecare and Staysafe.</p>
  <br>
  <p>Regards</p>
  <p>Learning sansar Team</p>
{% endblock html_body %}